
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
  background-color: #007fff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
}

.logo img {
  width: 100px;
}


.input-search-box {
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}

input[type="search"] {
width: 33vw;
height: 33px;
border-radius: 15px;
text-align: left;
border: 0px solid;
box-shadow: 0 0 3px#333;
font-family: Arial, Helvetica, sans-serif;
padding-left: 2vw;
}

.search-button {
width: 30px;
height: 25px;
background-color: white;
border: none;
border-radius: 10px;
margin-left: -32px;
cursor: pointer;
}

.search-button:hover{
width:30px;
height:25px;
background-color:white;
border:none;
border-radius: 10px;
margin-left: -30px;
cursor: pointer;
color:#007fff;
}


.menu-btn {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.menu-btn::before, .menu-btn::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-icon{
  background-color: #007fff;
  margin-top:-22.5px;
  margin-left:-25px;
  transform: translateX(0px);
}

.menu {
  position: absolute;
  top: 60px; /* Adjusted position */
  right: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 200px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease, top 1s ease;

}

.menu.open {
  opacity: 1;
  top: 90px; /* Adjusted position */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Define animation keyframes */
@keyframes colorChange {
  0%, 100% {
      background-color: #333; /* Start and end background color */
  }
  50% {
      background-color: #555; /* Middle background color resembling hover */
  }
}

.menu ul li:nth-child(1) a {
  animation: colorChange 6s infinite alternate 0.25s; /* Apply animation with delay */
}

.menu ul li:nth-child(2) a {
  animation: colorChange 6s infinite alternate 0.5s; /* Apply animation with delay */
}

.menu ul li:nth-child(3) a {
  animation: colorChange 6s infinite alternate 0.75s; /* Apply animation with delay */
}

.menu ul li:nth-child(4) a {
  animation: colorChange 6s infinite alternate 1s; /* Apply animation with delay */
}

.menu ul li:nth-child(5) a {
  animation: colorChange 6s infinite alternate 1.25s; /* Apply animation with delay */
}

.menu ul li:nth-child(6) a {
  animation: colorChange 6s infinite alternate 1.5s; /* Apply animation with delay */
}

.menu ul li a:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

.main-content {
  padding: 20px;
  margin-top:50%;
}

.section {
  margin-bottom: 30px;
  border-radius: 5px;
  transition: background-color 3s ease;
}


.nav2 {
  background-color: whitesmoke; /* light gray */
  padding: 10px;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav2 ul li {
  margin: 0 10px;
}

.nav2 ul li a {
  text-decoration: none;
  color: #333; /* dark gray */
  transition: border-bottom 0.5s;
}

.nav2 ul li a:hover {
  border-bottom: 2px solid #001f3f; /* navy blue */
  transition: border-bottom 0.2s;
  color:red;
}

#ipl2024 {
/* display: none; */
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(255, 255, 255, 0.5); 
box-shadow: 0 0 20px black;
transition: transform 0s ease-in-out;
transform: translateY(100%);
border:0px solid whitesmoke;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#ipl2024.open {
display: block;
transform: translateY(0%);
}

/* Define slide-up transition */
.slide-up {
transition: transform 0s ease-in-out;
}

.slide-up.active {
transform: translateY(-100%);
}

table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  transition: background-color 0s ease-in-out;

}

td {
  border: 1px solid whitesmoke;
  padding: 5px;
  text-align: left;
}

th {
  border:1px solid whitesmoke;
  text-align: center;
  background-color: #001f3f;
  color: white;
  padding: 10px;
  
}

td {
  font-size: 15px;
  text-decoration: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size:medium;
}

tr:hover td {
  background-color: rgb(215, 214, 214); 
  /* lighter shade of sky-blue */
}

.CSK{
  background-color: #FDB913;
  color:#002D72;
}
.DC{
  background-color: red;
  color:#002D72;
}

.team-logo {
  width: 65px;
  height: auto;
  vertical-align: middle;
  padding-right: 10px;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px;
  width:100vw;
}


.CSK {
  background-color: #FDB913;
  color: #002D72;
}

.MI {
  background-color: #004BA0;
  color: #D6AA00;
}

.KKR {
  background-color: #2E0854;
  color: #FFC627;
}

.RCB {
  background-color: #C8102E;
  color: #000000;
}

.SH {
  background-color: #E86627;
  color: #000000;
}

.DC {
  background-color: #004C93;
  color: #FF8200;
}

.PK {
  background-color: #DC1D3B;
  color: #B1A7AF;
}

.RR {
  background-color: #EA0A8E;
  color: #004BA0;
}

.GT {
  background-color: #82012C;
  color: #FFD100;
}

.LSG{
  background-color:white;
  color: royalblue;
  }