body{
    
}

header{
    width:100vw;
    height: 60px;
    position: fixed;
    background-color: navy;
    top:0px;
    left:0px;
    z-index:999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    font-size:24px;
    box-shadow: 0 0 10px rgb(66, 66, 66);
}
    img.logo{
        margin-left:3%;
        width:75px;
        height: 40px;
        position: absolute;
        top:10px;
        left: 0px;
}

.menu-box{
    width:30px;
    height: 30px;
    position: absolute;
    right:10px;
    top:15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.menu{
    width:74px;
    height:35px;
}

img.menu:hover{
    width:74px;
    height:35px;
    transform: rotate(180deg);
    transition: all .6s ease-in-out;
    opacity: 90%;
}


.menu-container {
    position: relative; 
}

#menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    right: 0;
    width: 175px;
    z-index: 2;
    background-color: #f0f0f0;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    flex-wrap:wrap-reverse;
    box-shadow: -5px  5px 10px #a9a9a9;
}

#menu-list.active {
    transform: translateX(0);
   
}

#menu-list a {
   color:#222;
   text-decoration: none;
   font-size: large;
   text-decoration: solid;
}

#menu-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#menu-list li:hover {
    padding: 10px;
    transition: 0.3s  all linear;
    border-bottom: 1px solid #ccc;
    background-color:silver;
}


#menu-list li:active {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: skyblue;
}

#menu-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;  
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px;
    position: absolute;
    top: -20px;
    right: 10px;
   
}
  input[type="checkbox"]:checked + .switch + .content {
    background-color: #000; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
  }

  
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}

.slider {
    position: absolute;
    cursor: pointer;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    webkit-transition:.4s;
    transition:.4s;  
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0.5px;
    bottom: 0px;
    background-color: white;
    -webkit-transition:.4s;
    transition:.4s;
    
}

input:checked +.slider {
    background-color: #2196F3;
}

input:focus +.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked +.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

ul.navbar {
    list-style-type: none;
    position: absolute;
    top:46px;
    left:0px;
    right: 0px;
    background-color: #f2f2f2;
    text-align: center;
    font-family:'Roboto', sans-serif;
    z-index: 1;
    box-shadow:0px 5px 5px #9d9d9d;
    position: fixed;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: navy;
    position: relative;
    left:10vw;
    right:10vw;
    margin: 0 auto;
    transition: .2s all linear;
    
}

ul.navbar li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: navy;
    transition: width 0.3s;
}

ul.navbar li a:hover:after {
    width: 100%;
}

ul.navbar li a:active {
    color: red;
}